/* -------  General Styles ------- */
.logo {
  display: flex;
  justify-content: center;
}

body {
  font-family: "Lato", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
  display: flex;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
  padding-bottom: 10px;
  justify-content: center;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.group-column {
  flex-direction: column;
  justify-content: center;
}
.about-group {
  flex-direction: column;
  justify-content: center;
}

.ideas-group {
  flex-direction: column;
  justify-content: center;
}

.group-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item {
  flex: 1;
  margin: 1px;
  justify-content: center;
}

.item-double {
  flex: 2;
  justify-content: center;
  align-content: stretch;
}

/* -------  IDs ------- */

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 10px 10px 5px 10px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

.nav {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 80%;
}

.form-item {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
@media all and (min-width: 480px) {
  .form-item {
    width: 100%;
  }
  .logo {
    display: flex;
    text-align: left;
    font-size: 50px;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  nav {
    display: flex;
    align-items: center;
  }

  form {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .group {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
  }

  form button {
    background-color: #ff385c;
    border: none;
    color: #fff;
    font-size: 25px;
    padding: 15px;
    width: 15%;
  }
  .about-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .about-group .item {
    padding: 10px 10px 1px 10px;
  }
  .about-group .item-double {
    padding: 10px;
    align-self: center;
    justify-self: center;
  }

  .host-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .host-secondGroup {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    padding: 5px;
  }
  .ideas-group {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .row-ideas {
    display: flex;
    flex-direction: row;
    flex: 1;
  }
  .ideas-secondGroup {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 5px;
  }
}

@media all and (max-width: 390px) {
  .logo {
    font-size: 45px;
  }
  .nav {
    font-size: 12px;
  }
}

@media all and (max-width: 1000px) and (min-width: 480px) {
  form {
    border: 2px solid #ff385c;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 50%;
  }

  .form-item {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  form label {
    font-weight: bold;
  }

  form select,
  form input {
    margin-bottom: 20px;
    width: 180px;
  }

  form button {
    background-color: #ff385c;
    border: none;
    color: #fff;
    font-size: 24px;
    padding: 15px;
    width: 100%;
  }
  .group {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
